# Directories.

*.egg-info/

.hypothesis/
.pytest_cache/
.ruff_cache/
.tox/
.uv-cache/
.venv/

__pycache__/
attic/
build/
dist/

# Files.

*.history*
*.log*
*.py[cdoz]
*.sw*
.aider*

.coverage
.python-version
RELEASE.md

/help
